/* styles.css */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.bg {
  background-color: #f4f4f4;
  padding: 20px;
}

.center {
  text-align: center;
}

h1 {
  color: #333;
}

h2 {
  color: #555;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.product {
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product img {
  max-width: 100%;
  height: auto;
}

.cart {
  border: 1px solid #841515;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cart p {
  margin: 0;
}

.total {
  font-weight: bold;
  margin-top: 10px;
}

.product{
  padding: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 90px;
  justify-content: center;
  align-items: center; 
}